---
layout: page
title: "Gratitude Page"
permalink: /gratitude/
author_profile: true
---

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}


<h2>List of lovely human beings thanks of whom I have had opportunities to grow and learn.</h2>

<p class="justified">Of course, my family: Mom, Dad, Brother, Sister-in-Law, Sister, Uncles and Aunts and all my young cousins a constant source of love and support throughout my life.</p>
<p class="justified"> <strong>School Years: </strong> </p>
<p class="justified"> Mr Hitesh Vaishnav the only teacher from my secondary school years who supported me and fuelled my curious mind in a positive direction.
All my 10-11-12 Mathematics teachers, Mr Urvish Vyas, Mr P. S. Patel, Mr Naresh Patel, Mr Vipul Patel, and Ms Meera Wadhwa, each of whom not only taught me mathematics but many crucial life lessons.
Dr Ekta Shah - Ekta didi, as I know her, has been a constant source of guidance and mentorship for the queries of Astrophysics and Academia. </p>
<p class="justified"> <strong>PDEU Years: </strong> </p>
<p style="text-justify: auto;"> Dr Ritu Sahni and Dr Manoj Sahni, people who, from the module-teachers, became research mentors and, from there, became my second parents.
Prof. Nigam Dave - Dumbledore of SLS, thanks to whom all the students and I felt safe and at home at PDEU. 
Ms Nairuti Trivdi - the counsellor who listened to all my out-of-the-world hypotheses and theories, who just knew what to discuss to clear my vision.
Mr Darshit Shah, Dr Chandrasekhar Nishad, Dr Shobhit Nigam, Dr Brajesh Jha, Dr Rohit Srivastava, Dr Niyati Shah, teachers whose guidance throughout the four years have helped me learn many things.
Mr Dushyant Dave, Ms Manali Shah and the whole admin team of SLS, who have helped me through gazillions of matters throughout my degree.
Ms Pooja Ajmera and the teams of OSAIL, OIR and Exam Cell provided help even on their hectic days.
Mr Vijay Mehta, a beautiful soul who gave me an opportunity for my first public lectures.
Prof. Gabrielle Heart, thanks to whom I have been surviving since 2020. </p>
<p class="justified">  <strong>Imperial Year:</strong> </p>
<p class="justified">  Prof. Pierre M Germain thanks to whom I re-realised my love for Mathematical Physics.
Dr Gunnar Pruessner and Dr Christopher Ford, each of whom guided me to finalise the modules after different challenges.
Prof. Darren Crowdy, who showed us the beauty of Vortex Dynamics and Complex Analysis.
Dr. Samuel Brzezicki, my postgraduate thesis supervisor, thanks to his guidance and support I completed my project with distinction.
Ms. Sai Nathan, who has been a constant source of administrative support throughout my MSc at ICL. </p>
<p> <strong>Buddies:</strong> These people have been my buds despite my eccentricities and weirdness.  </p>
<p class="justified"> School and Hometown: Satish, Yesha, Devang, Dhrumil, Yash, Vivek </p>
<p class="justified">  SXCA and PDEU: Zarmina, Mariya, Jaykit, Harsh, Siddharth, Kunal, Vanditha </p>
<p class="justified"> ICL and London: Samir, Lea, Elliot, Ilyass, Edward and Yuan. </p>
