---
layout: page
title: "Gratitude Page"
permalink: /gratitude/
author_profile: true
---

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}


<h2> "A grateful mind is a great mind which eventually attracts to itself great things." - Plato </h2>

<div style="text-align: justify;"> 
As I continue my journey toward ever more progress, I hold immense gratitude for many lovely people who have supported me. Thanks to them, I have had opportunities to grow and learn.
</div>


<div style="text-align: justify;">
Of course, my family: Mom, Dad, Brother, Sister-in-Law, Sister, Uncles and Aunts and all my young cousins a constant source of love and support throughout my life.
</div>

<p class="justified"> <strong>School Years: </strong> </p>
<div style="text-align: justify;">
Mr Hitesh Vaishnav the only teacher from my secondary school years who supported me and fuelled my curious mind in a positive direction.
All my 10-11-12 Mathematics teachers, Mr Urvish Vyas, Mr P. S. Patel, Mr Naresh Patel, Mr Vipul Patel, and Ms Meera Wadhwa, each of whom not only taught me mathematics but many crucial life lessons.
Dr Ekta Shah - Ekta didi, as I know her, has been a constant source of guidance and mentorship for the queries of Astrophysics and Academia.
</div>
<p class="justified"> <strong>PDEU Years: </strong> </p>
<div style="text-align: justify;">
<a href="https://www.researchgate.net/profile/Ritu-Sahni-6">Ritu Sahni</a> and <a href="https://orsp.pdpu.ac.in/adminfacviewprofile.aspx?facid=manoj.sahni" Manoj Sahni> </a>, people who, from the module-teachers, became research mentors and, from there, became my second parents.
<a href="https://orsp.pdpu.ac.in/adminfacviewprofile.aspx?facid=nigam.dave">Nigam Dave</a> - Dumbledore of SLS, thanks to whom all the students and I felt safe and at home at PDEU.
Ms Nairuti Trivdi - the counsellor who listened to all my out-of-the-world hypotheses and theories, who just knew what to discuss to clear my vision.
<a href="https://orsp.pdpu.ac.in/adminfacviewprofile.aspx?facid=darshit.shah">Darshit Shah</a>, <a href="https://www.iiitnr.ac.in/content/chandra-shekhar-nishad"> Chandrasekhar Nishad</a>, <a href="https://orsp.pdpu.ac.in/adminfacviewprofile.aspx?facid=shobhit.nigam"> Shobhit Nigam</a>, <a href="https://orsp.pdpu.ac.in/adminfacviewprofile.aspx?facid=rohit.srivastava">Rohit Srivastava</a>, <a href="https://orsp.pdpu.ac.in/adminfacviewprofile.aspx?facid=niyati.shah">Niyati Shah</a>, teachers whose guidance throughout the four years have helped me learn many things.
<a href="https://in.linkedin.com/in/dushyant-dave-88203312">Dushyant Dave</a>, <a href="https://in.linkedin.com/in/manali-shah-b7262826a">Manali Shah</a> and the whole admin team of <a href="https://sls.pdpu.ac.in/">SLS</a> who have helped me through gazillions of matters throughout my degree.
<a href="https://in.linkedin.com/in/pooja-ajmera-shah-1987b296"> Mrs Pooja Ajmera Shah</a> and the teams of OSAIL, OIR and Exam Cell provided help even on their hectic days.
Mr Vijay Mehta, a beautiful soul who gave me an opportunity for my first public lectures.
<a href="https://sbm.nmims.edu/faculty-gabrielle-heart"> Prof. Gabrielle Heart</a>, thanks to whom I have been surviving since 2020.
</div>
<p class="justified">  <strong>Imperial Year:</strong> </p>

<div style="text-align: justify;"> <a href="https://www.imperial.ac.uk/mathematics/about-us/people/academic-and-research-staff/">Pierre M Germain</a> thanks to whom I re-realised my love for Mathematical Physics.
Dr Gunnar Pruessner and Dr Christopher Ford, each of whom guided me to finalise the modules after different challenges.
<a href="https://www.imperial.ac.uk/people/d.crowdy">Prof. Darren Crowdy</a> , who showed us the beauty of Vortex Dynamics and Complex Analysis.
<a href="https://www.imperial.ac.uk/people/samuel.brzezicki10">Dr Samuel Brzezicki</a>, my postgraduate thesis supervisor, thanks to his guidance and support I completed my project with distinction. Prof Igor Shevchenko for all the friendly open-minded conversations.
<a href="https://www.imperial.ac.uk/mathematics/undergraduate/undergraduate-administration-contacts/">Ms. Sai Nathan</a>, who has been a constant source of administrative support throughout my MSc at ICL.
</div>

<p> <strong>Buddies:</strong> These people have been my buds despite my eccentricities and weirdness.  </p>
<p class="justified"> School and Hometown: Satish, Yesha, Devang, Dhrumil, Yash, Vivek </p>
<p class="justified">  SXCA and PDEU: Siddharth, Zarmina, Mariya, Vanditha, Jaykit, Harsh, Kunal, Happy, Yagn </p>
<p class="justified"> ICL and London: Samir, Lea, Elliot, Ilyass, Edward and Yuan. </p>